<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link href="/view/web/css/index.css" rel="stylesheet">
<link href="/view/web/css/history.css" rel="stylesheet">
<script src="/view/web/js/jquery.min.js"></script>
<script src="/view/web/js/index.js"></script>
<script type="text/javascript">
	$(function () {
            var speed = 800;//滚动速度
            var h=document.body.clientHeight;
            
            //回到顶部
            $("#toTop").click(function () {
                $('html,body').animate({
                    scrollTop: '0px'
                },
                speed);         
            });
        });
</script>
<title>品牌故事</title>
</head>
<body style="max-width: 640px;margin:0 auto;">
<div class="container" style="position: relative;height: 100%;overflow: hidden;max-width: 640px;">
	<div class="header">
		<div class="meus">
			<img src="/view/web/img/meus.jpg" alt="">
		</div>
		<a href="/view/web/index.html">
            <div class="logo">
    			<img src="/view/web/img/logo_04.jpg" alt="">
    		</div>
        </a>
		<a href="/view/web/cart.html">
            <div class="car">
                <img src="/view/web/img/car.jpg" alt="">
            </div>
        </a> 

        <div class="clearfix"></div>

        <!-- <div class="kong"></div> -->
	</div>

    <div class="headerr">
    </div>

<!--     <div class="thetitle">
        <p>品牌故事</p>
    </div> -->

    <div class="clearfix"></div>
    
    <div class="historyheader">
        <img src="/view/web/img/historyhearder.jpg" alt="">
    </div>    
    
    <div class="content">
        <div class="content_01">
            <p class="p_01">Leifor</p>
            <p class="p_02">宇源肽</p>
            <p class="p_03">宇源肽成立于2014年，秉承“科研创新，小分子护肤”的理念，集美容护肤产品的研发、生产、销售于一体的生物技术公司。始终以“品质为先，服务为上、专注于皮肤科学与美容保养品研究”为宗旨，以“创新、务实、同源、高效”的创业理念力求为全球女性提供最好的护肤品。</p>
            <p class="p_04">宇源肽依托暨南大学研究中心研发团队，采用国际一线高新技术即哺乳动物细胞培养技术生产的小分子多肽，遵循肌肤新陈代谢的黄金定律，研发开展至始至终以严谨科学技术将“小分子多肽”、“活性因子”成份筛选，以现代化生产工艺、科学的配方组成、皮肤生物学测试和包材测试等阶段的监测，实现产品的安全、有效。</p>
            <p class="p_05">公司创始人罗振宇先生毕业于暨南大学药学院微生物与生化药学专业，主要从事干细胞分泌素抗衰老研究，并通过不懈的努力，将其转型为专业的女性美容保养品牌，并得到了市场上的一致好评，是中国美容业内公认的“小分子活性肽”高科技美容事业的践行者。</p>
            <p class="p_06">宇源肽系列产品通过国家权威检测机构严格检测，保证每一款产品不含任何激素、不含重金属、不含荧光剂，以高效安全成分，激发肌肤自身原动力，从深层改善肌肤，肌肤转变，临床验证。高效安全，敏感肌亦可，让每一位消费者更加放心使用。</p>
        </div>
        <div class="content_02">
            <p class="p_01">品牌理念</p>
            <p class="p_02">激活肌肤能量， 还原生命本真之美</p>
            <p class="p_03">“至美呵护，臻宠于心”宇源肽创立之初，不仅仅是为了构建一个美丽与智慧的女性护肤品平台，而是倡导“以初心之源，塑美丽之梦，享幸福之乐”的生活理念和人生状态，倡导女性朋友，珍视内在富有，珍惜本真自我，珍爱生命万物。</p>
             <p class="p_04">宇源肽通过一次又一次的探究与探索，遵循人体细胞生长周期，与人体100%的生物活性肽，以极致能量赋活科技，唤醒敏感肌肤情绪，从根源为肌肤提供生长活力。</p>
             <p class="p_05">给予每一位女性健康白皙、充满活力与幸福的肌肤；都拥有丰富、纯真而幸福的美丽心情。还原生命本真之美</p>
        </div>
        <div class="content_03">
            <p class="p_01">品牌理念</p>
            <p class="p_02">宇源肽将“小分子活性肽”护肤新理念带给全世界的爱美女性。</p>
            <p class="p_03">使不同肤质、定位、要求的女性体验到专业的护肤美容品。</p>
            <p class="p_04">把专业“小分子活性肽”护肤体验分享给更多的爱美女性。</p>
        </div>
        <div class="content_04">
            <p class="p_01">品牌定位</p>
            <p class="p_02">宇源肽  定制你的理想肌肤</p>
            <p class="p_03">打造中国“小分子活性肽”美容护肤第一品牌！</p>
            <p>每个女性都在追求自己心中的理想肌肤：</p>
            <p>一种专属于自己的肌肤追求，一个并非遥不可及的梦想理想肌肤，由你定义。</p>
            <p>她反应了每个女性专属的渴望，与她的肌肤日志和生活状态（生活方式与外界环境）息息相关，并随着岁月而演变。</p>
            <p>理想肌肤，并非是一个最终的美丽状态，而是一个不断转变的过程。</p>
            <p>实现专属的最佳肤质与美丽状态，赋予了女性一种成就感。</p>
        </div>
    </div>

    <div class="returntop" id="toTop">
        <p>▲  返回顶部</p>
    </div>
</div>    
         
         <div class="nav">
         <img src="/view/web/img/navcolum.png" alt="">
         <div class="proList">
             <a href="/view/web/product_01.html"><div class="proItem">洁面乳</div></a>
             <a href="/view/web/product_02.html"><div class="proItem">冻干粉</div></a>
             <a href="/view/web/product_03.html"><div class="proItem">修护面膜</div></a>
         </div>
         <div class="sidebar">
             <a href="/view/web/Thelogin.html"><div class="sidebarItem">登录账号</div></a>
             <a href="/view/web/history.html"><div class="sidebarItem">品牌故事</div></a>
             <a href="/view/web/cart.html"><div class="sidebarItem">我的购物车</div></a>
             <a href="/view/web/order.html"><div class="sidebarItem">个人中心</div></a>
         </div>
         </div>

         <div class="shade"></div>

</body>
<script type="text/javascript">
    TouchSlide({ 
        slideCell:"#slideBox",
        titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
        mainCell:".bd ul", 
        effect:"leftLoop", 
        autoPlay:true,
        autoPage:true //自动分页
    });
</script>
</html>