<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name = "format-detection" content="telephone = no" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	<meta charset="UTF-8">
	<title>个人资料</title>
	<link rel="stylesheet" href="/view/web/css/personal.css">
	<link href="/view/web/css/index.css" rel="stylesheet">
	<script src="/view/web/js/jquery.min.js"></script>
	<script src="/view/web/js/TouchSlide.1.1.js"></script>
	<script src="/view/web/js/index.js"></script>
</head>
<body>
<div class="container" style="position: relative;height: 100%;overflow: hidden;max-width: 640px;">
	<div class="header">
            <div class="meus">
                <img src="/view/web/img/meus.jpg" alt="">
            </div>
            <a href="/view/web/index.html">
                <div class="logo">
                    <img src="/view/web/img/logo_04.jpg" alt="">
                </div>
            </a>   
            <a href="/view/web/cart.html">
                <div class="car">
                    <img src="/view/web/img/car.jpg" alt="">
                </div>
            </a> 
    </div>

	<div class="headeer">
			<img class="bg" src="/view/web/img/order1.jpg" alt="">
		<div class="user">
			<div class="yuan">
				<img src="/view/web/img/order6.jpg" alt="">
			</div>
			<div class="user_name">
				<strong>个人资料</strong>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="cont1">
		<div class="text">收货人姓名：</div>
        <div class="text1"><input type="text" placeholder="请填写收货人姓名" value=""></div>
	</div>

	<div class="cont2">
		<div class="text">联系电话：</div>
        <div class="text1"><input type="text" placeholder="请填写联系电话" value=""></div>
	</div>

	<div class="cont3">
		<div class="text">详细地址：</div>
        <div class="text1"><input type="text" placeholder="请填写详细地址" value=""></div>
	</div>
	
	<div class="queren">
		<button>确认</button>
	</div>
	
</div>   
     <div class="nav">
         <img src="/view/web/img/navcolum.png" alt="">
         <div class="proList">
             <a href="/view/web/product_01.html"><div class="proItem">洁面乳</div></a>
             <a href="/view/web/product_02.html"><div class="proItem">冻干粉</div></a>
             <a href="/view/web/product_03.html"><div class="proItem">修护面膜</div></a>
         </div>
         <div class="sidebar">
             <a href="/view/web/Thelogin.html"><div class="sidebarItem">登录账号</div></a>
             <a href="/view/web/history.html"><div class="sidebarItem">品牌故事</div></a>
             <a href="/view/web/cart.html"><div class="sidebarItem">我的购物车</div></a>
             <a href="/view/web/order.html"><div class="sidebarItem">个人中心</div></a>
         </div>
     </div>

     <div class="shade"></div> 
    <script>
      $(function(){
		  $('s').click()
	  })
    </script>
</body>
</html>