<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link href="/view/web/css/index.css" rel="stylesheet">
<link href="/view/web/css/product.css" rel="stylesheet">
<script src="/view/web/js/jquery.min.js"></script>
<script src="/view/web/js/index.js"></script>
<script type="text/javascript">
	$(function () {
            var speed = 800;//滚动速度
            var h=document.body.clientHeight;
            
            //回到顶部
            $("#toTop").click(function () {
                $('html,body').animate({
                    scrollTop: '0px'
                },
                speed);         
            });
        });
</script>
<title>羽曦-肽-修护面膜</title>
</head>
<body style="max-width: 640px;margin:0 auto;">
<div class="container">
	<div class="header">
		<div class="meus">
			<img src="/view/web/img/meus.jpg" alt="">
		</div>
		<a href="/view/web/index.html">
            <div class="logo">
                <img src="/view/web/img/logo_04.jpg" alt="">
            </div>
        </a>
		<a href="/view/web/cart.html">
            <div class="car">
                <img src="/view/web/img/car.jpg" alt="">
            </div>
        </a> 

        <div class="clearfix"></div>

        <div class="kong"></div>
	</div>

    <div class="headerr">
    </div>

    <div class="thetitle">
        <p>羽曦-肽-修护面膜</p>
        <span>从育肤,修肤,美肤三个层面将美白,保湿,抗皱完美结合,超凡体现自然活力的素颜美欧珀莱独创金字塔…… <a href="/view/web/history.html">了解更多</a></span>
    </div>
    
    <div class="productimg">
        <img src="/view/web/img/product_03.jpg" alt="">
    </div>  

    <div class="paycar">
        <p>￥ 300.00</p>
        <div class="car">
            <div class="select">
                数量：
                <select name=""> 
                    <option value="0">1</option> 
                    <option value="1">2</option> 
                    <option value="2">3</option> 
                    <option value="3">4</option> 
                    <option value="4">5</option> 
                </select> 
                <span>▼</span>
            </div>
            <div class="pay">加入购物车</div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="productname">
        <p>羽曦-肽-修护面膜 ▼</p>
    </div>

    <div class="productnamecontent">
        <p>羽曦-肽-修护面膜</p>
        <div class="content_01">
            <div class="title">吸附性强</div>
            <span> - 蚕丝面膜的吸附性比普通的无纺布面膜纸要好得多，能吸收更多的精华液，敷脸的时候也非常服帖，不会掉下来不会有精华液滴落的状态。</span>
        </div>
        <div class="content_02">
            <div class="title">质地轻薄</div>
            <span> - 蚕丝面膜采用的是最为轻柔最为细腻的蚕丝，可以紧密贴合肌肤的纹理，所以敷面的时候服帖度很高，而且非常薄，透明、透气，鼻翼、嘴角都能紧密填补，锁水持久，补水深入。</span>
        </div>
        <div class="content_03">
            <div class="title">补水修复</div>
            <span> - 蚕丝面膜能加速皮肤自身的修复机能，如果是晒后肌肤处于敏感脆弱状态，就可以通过蚕丝纤维的细腻贴合来让受损肌肤迅速得到修复。还可以促进胶原蛋白的分泌、强效增白、抗UV作用、抗发炎、痘疱能力。</span>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="recommended">
        <p class="title">推荐单品</p>
        <div class="product_01">
            <div class="conten">
                <img src="/view/web/img/productcont_01.jpg" alt="">
                <div class="p_01">羽曦-修复保湿洁面乳</div>
                <div class="p_02">￥ 300.00</div>
                <button>立即购买</button>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="product_02">
            <div class="conten">
                <img src="/view/web/img/productcont_02.jpg" alt="">
                <div class="p_01">羽曦-修护因子冻干粉</div>
                <div class="p_02">￥ 300.00</div>
                <button>立即购买</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="returntop" id="toTop">
        <p>▲  返回顶部</p>
    </div>
</div>

         <div class="nav">
         <img src="/view/web/img/navcolum.png" alt="">
         <div class="proList">
             <a href="/view/web/product_01.html"><div class="proItem">洁面乳</div></a>
             <a href="/view/web/product_02.html"><div class="proItem">冻干粉</div></a>
             <a href="/view/web/product_03.html"><div class="proItem">修护面膜</div></a>
         </div>
         <div class="sidebar">
             <a href="/view/web/Thelogin.html"><div class="sidebarItem">登录账号</div></a>
             <a href="/view/web/history.html"><div class="sidebarItem">品牌故事</div></a>
             <a href="/view/web/cart.html"><div class="sidebarItem">我的购物车</div></a>
             <a href="/view/web/order.html"><div class="sidebarItem">个人中心</div></a>
         </div>
         </div>

         <div class="shade"></div>
</body>
<script type="text/javascript">
    TouchSlide({ 
        slideCell:"#slideBox",
        titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
        mainCell:".bd ul", 
        effect:"leftLoop", 
        autoPlay:true,
        autoPage:true //自动分页
    });
</script>
</html>