<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name = "format-detection" content="telephone = no" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	<meta charset="UTF-8">
	<title>个人中心</title>
	<link rel="stylesheet" href="/view/wx/css/order.css">
	<link href="/view/wx/css/index.css" rel="stylesheet">
	<script src="/view/wx/js/jquery.min.js"></script>
	<script src="/view/wx/js/TouchSlide.1.1.js"></script>
	<script src="/view/wx/js/index.js"></script>
</head>
<body>
<div class="container">

	<div class="headeer">
			<img class="bg" src="/view/wx/img/order1.jpg" alt="">
		<div class="user">
			<div class="yuan">
				<img src="<{$headimgurl}>" alt="">
			</div>
			<div class="user_name">
				<strong><{$nickname}></strong>
			</div>
		</div>
	</div>

	<a href="?action=myorder">
	<div class="cont1">
		<div class="text">我的订单</div>
        <div class="text1">查看全部订单></div>
	</div>
	</a>
	<a href="?action=personal">
	<div class="cont2">
		<div class="text">个人资料</div>
	</div>
	</a>
    <a href="?action=address">
        <div class="cont4">
            <div class="text">收货地址管理</div>
        </div>
    </a>
	<a href="tel:4009-555-888">
	<div class="cont3">
		<div class="text">联系客服</div>
        <div class="text1"> 4009-555-888 </div>
	</div>
	</a>
</div>   
    <div class="kong"></div>
	<div class="header">
        <a href="?action=index">
            <div class="index">
                <ul>
                    <li><img src="/view/wx/img/index1.png" alt=""></li>
                    <li>首页</li>
                </ul>
            </div>
        </a> 
        <a href="?action=Productcenter">
            <div class="mycar">
                <ul>
                    <li><img src="/view/wx/img/history1.png" alt=""></li>
                    <li>产品中心</li>
                </ul>
            </div>
        </a>
        <a href="?action=cart">
            <div class="history">
                <ul>
                    <li><img src="/view/wx/img/mycar1.png" alt=""></li>
                    <li>购物车</li>
                </ul>
            </div>
        </a>   
        <a href="?action=order">
            <div class="my">
                <ul>
                    <li><img src="/view/wx/img/my2.png" alt=""></li>
                    <li style="font-weight: bold;color:#040a2b;">个人中心</li>
                </ul>
            </div>
        </a>    
    </div>

    
    <script>
      $(function(){
		  $('s').click();
         /* a_jax.method("/Controller/function.php?act=ajax","","get",function (data) {
              if(data.ecode == 0){
                  $('.user_name strong').html(data.nickname);
                  $('.yuan img').attr('src',data.headimgurl);
              }else{
                  alert("请求失败！ccccc");
              }
          });*/
	  })
    </script>
</body>
</html>