<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name = "format-detection" content="telephone = no" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	<meta charset="UTF-8">
	<title>个人资料</title>
	<link rel="stylesheet" href="/view/wx/css/personal.css">
	<link href="/view/wx/css/index.css" rel="stylesheet">
	<script src="/view/wx/js/jquery.min.js"></script>
	<script src="/view/wx/js/TouchSlide.1.1.js"></script>
	<script src="/view/wx/js/index.js"></script>
</head>
<body>
<div class="container">
	

	<div class="headeer">
			<img class="bg" src="/view/wx/img/order1.jpg" alt="">
		<div class="user">
			<div class="yuan">
				<img src="/view/wx/img/order6.jpg" alt="">
			</div>
			<div class="user_name">
				<strong>个人资料</strong>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="cont1">
		<div class="text">收货人姓名：</div>
        <div class="text1"><input type="text" placeholder="请填写收货人姓名" value=""></div>
	</div>

	<div class="cont2">
		<div class="text">联系电话：</div>
        <div class="text1"><input type="text" placeholder="请填写联系电话" value=""></div>
	</div>

	<div class="cont3">
		<div class="text">详细地址：</div>
        <div class="text1"><input type="text" placeholder="请填写详细地址" value=""></div>
	</div>
	
	<div class="queren">
		<button>确认</button>
	</div>
	
</div>   
    <div class="kong"></div>
    <div class="header">
        <a href="?action=index">
            <div class="index">
                <ul>
                    <li><img src="/view/wx/img/index1.png" alt=""></li>
                    <li>首页</li>
                </ul>
            </div>
        </a> 
        <a href="?action=Productcenter">
            <div class="mycar">
                <ul>
                    <li><img src="/view/wx/img/history1.png" alt=""></li>
                    <li>产品中心</li>
                </ul>
            </div>
        </a>
        <a href="?action=cart">
            <div class="history">
                <ul>
                    <li><img src="/view/wx/img/mycar1.png" alt=""></li>
                    <li>购物车</li>
                </ul>
            </div>
        </a>   
        <a href="?action=order">
            <div class="my">
                <ul>
                    <li><img src="/view/wx/img/my2.png" alt=""></li>
                    <li style="font-weight: bold;color:#040a2b;">个人中心</li>
                </ul>
            </div>
        </a>    
    </div>

    <script>
      $(function(){
		  $('s').click()
	  })
    </script>
</body>
</html>