<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link href="/view/wx/css/index.css" rel="stylesheet">
<link href="/view/wx/css/settlement.css" rel="stylesheet">
<script src="/view/wx/js/jquery.min.js"></script>
<script src="/view/wx/js/index.js"></script>
<script type="text/javascript">
	$(function () {
            var speed = 800;//滚动速度
            var h=document.body.clientHeight;
            
            //回到顶部
            $("#toTop").click(function () {
                $('html,body').animate({
                    scrollTop: '0px'
                },
                speed);         
            });

            $("#tel").blur(function(){
                var phone = document.getElementById('tel').value;
                if(!(/^1[34578]\d{9}$/.test(phone))){
                        document.getElementById('telId').innerHTML = '手机号码输入不正确，请重新输入';
                        return false;
                    }else{
                        document.getElementById('telId').innerHTML = '';
                        return true;
                    }                    
            });

            $("#youbian").blur(function(){
                var youbian = document.getElementById('youbian').value;
                if(!(/[1-9]\d{5}(?!\d)/.test(youbian))){
                    document.getElementById('you').innerHTML = '邮政编码输入不正确，请重新输入';
                    return false;
                }else{
                    document.getElementById('you').innerHTML = '';
                    return true;
                }
            })  
        });
</script>
<title>结算</title>
</head>
<body style="max-width: 640px;margin:0 auto;">
<div class="container">
    <form action="">
    
    <div class="cartheard">
        <p>如有任何问题  欢迎拨打客服热线</p>
        <p>4009-555-888</p>
    </div>

    <div class="mycart">
        <p class="p_01">我的订单</p>
        <p>共 <span>3</span> 件商品</p>
    </div>

    <div class="conteninput">
        <div class="name">
            <span>姓名：</span>
            <input type="text" required/>
        </div>
        <div class="sex">
            <span>性别：</span>
            <input type="radio" name="sex" checked="checked" />男
            <input type="radio" name="sex"/>女
        </div>
        <div class="phone">
            <span>手机号码：</span>
            <input id="tel" type="text" required/>
            <p id="telId"></p>
        </div>
        <div class="youbian">
            <span>邮编：</span>
            <input id="youbian" type="text" required/>
            <p id="you"></p>
        </div>
        <div class="address">
            <span>详细地址：</span>
            <input type="text" required/>
        </div>
        <div class="payment">
            <span>支付方式：</span>
            <span class="span_02">微信支付</span>
        </div>

        <button id="imagebutton1">确认支付</button>

        <div class="commodity">
            <a href="?action=product_01"><p class="Modify">修改</p></a>
            <div class="commodityimg"><img src="/view/wx/img/productcont_01.jpg" alt=""></div>
            <div class="commoditycont">
                <!-- <div class="delet">x</div> -->
                <div class="name">羽曦-修复保湿洁面乳</div>
                <div class="select">
                    数量：
                    <span>1</span>
                </div>
                <div class="price">￥ 300.00</div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="commodity">
            <a href="?action=product_02"><p class="Modify">修改</p></a>
            <div class="commodityimg"><img src="/view/wx/img/productcont_02.jpg" alt=""></div>
            <div class="commoditycont">
                <!-- <div class="delet">x</div> -->
                <div class="name">羽曦-修护因子冻干粉</div>
                <div class="select">
                    数量：
                    <span>1</span>
                </div>
                <div class="price">￥ 300.00</div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="commodity">
            <a href="?action=product_03"><p class="Modify">修改</p></a>
            <div class="commodityimg"><img src="/view/wx/img/productcont_03.jpg" alt=""></div>
            <div class="commoditycont">
                <!-- <div class="delet">x</div> -->
                <div class="name">羽曦-肽-修护面膜</div>
                <div class="select">
                    数量：
                    <span>1</span>
                </div>
                <div class="price">￥ 300.00</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    </form>
</div>    
    
    <div class="kong"></div>
    
    <div class="header">
        <a href="?action=index">
            <div class="index">
                <ul>
                    <li><img src="/view/wx/img/index1.png" alt=""></li>
                    <li>首页</li>
                </ul>
            </div>
        </a> 
        <a href="?action=Productcenter">   
            <div class="mycar">
                <ul>
                    <li><img src="/view/wx/img/history1.png" alt=""></li>
                    <li>产品中心</li>
                </ul>
            </div>
        </a>
        <a href="?action=cart">    
            <div class="history">
                <ul>
                    <li><img src="/view/wx/img/mycar2.png" alt=""></li>
                    <li style="font-weight: bold;color:#040a2b;">购物车</li>
                </ul>
            </div>
        </a>   
        <a href="?action=order"> 
            <div class="my">
                <ul>
                    <li><img src="/view/wx/img/my1.png" alt=""></li>
                    <li>个人中心</li>
                </ul>
            </div>
        </a>    
    </div>


</body>
<script type="text/javascript">
    TouchSlide({ 
        slideCell:"#slideBox",
        titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
        mainCell:".bd ul", 
        effect:"leftLoop", 
        autoPlay:true,
        autoPage:true //自动分页
    });
</script>
</html>