<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>羽曦护肤官方</title>
	<link rel="stylesheet" href="/view/pc/css/style.css">
    <link rel="stylesheet" href="/view/pc/css/community.css">
	<script src="/view/pc/js/jquery-3.1.1.min.js"></script>
	<script src="/view/pc/js/app.js"></script>
</head>
<body>
	<div class="header_container">
		<div class="header">
			<div class="logo_box">
				<a href="index.html"><img src="/view/pc/imgs/logo.png" alt=""></a>
			</div>
			<div class="sidebar">
				<div class="useronload">登入</div>
				<div class="shopCar">购物车</div>
				<div class="search">搜索</div>
			</div>
			<div class="link_box">
				<ul>
                    <li><a href="../index.html">首页</a></li>
					<li class="pro"><a href="">产品中心</a></li>
                    <li><a href="../about.html">雨曦故事</a></li>
                    <li><a href="../community.html">雨曦社区</a></li>
                    <li><a href="../members.html">会员积分</a></li>
                    <li><a href="../contact.html">联系我们</a></li>
                </ul>
			</div>
		</div>
		
		<div class="search_box">
			<div class="s_input_list">
				<from>
					<input type="text" name="search">
					<input type="button" value="搜索">
				</from>
			</div>
		</div>
		<!--搜索弹出-->

		<div class="product">
			<ul class="p_list">
				<li><a href="">产品1</a></li>
				<li><a href="">产品2</a></li>
				<li><a href="">产品3</a></li>
			</ul>
		</div>
		<!--产品弹出-->

		<div class="shopCar_cont">
			<div class="shopCar_box">
				<span class="bot"></span>
				<span class="top"></span>
				<!--<div class="shop_none">
					您的购物车里没有任何商品
				</div>-->
				<div class="shopBox">
					<div class="shop_item">
						<img src="/view/pc/imgs/shopitem.png" alt="">
						<div class="shop_msg">
							<p>雅诗兰黛肌初赋活原生液</p>
							<p>容量: 200ml </p>
							<p>数量:1</p>
							<p>价格:￥875</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="shop_item">
						<img src="/view/pc/imgs/shopitem.png" alt="">
						<div class="shop_msg">
							<p>雅诗兰黛肌初赋活原生液</p>
							<p>容量: 200ml </p>
							<p>数量:1</p>
							<p>价格:￥875</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="shop_item">
						<img src="/view/pc/imgs/shopitem.png" alt="">
						<div class="shop_msg">
							<p>雅诗兰黛肌初赋活原生液</p>
							<p>容量: 200ml </p>
							<p>数量:1</p>
							<p>价格:￥875</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="paythebill">
						<div class="bill">
							<div class="price">总额:￥1750</div>
						</div>
						<center><button style="background: #020322;color: #fff;">结账</button></center>
						<center><button style="background: #fff;">购物车</button></center>
					</div>
				</div>
			</div>
		</div>
		<!--购物车弹出-->

	</div>
	<!--头部-->

	<div class="container">
        <div class="news2">
            <div class="news-text">
                <center><p class="title" style="border: none;margin-top: 30px;"><span class="text-bold">生活潮流</span>: MODEL CALL</p></center>
                <h2 class="inside-h2-s">与Irene Kim的3分钟对话</h2>
                <div class="p_list">
                    <p>身兼超模、电视名人和一切美妆香脂、色彩和韩国美容</p>
                    <p>潮流的狂热者三重身份的她</p>
                </div>
                <img style="margin: 20px 0;" src="/view/pc/imgs/community-img/banner3.jpg" alt="">
                <p class="content">在浩如烟海的街拍明星中，Irene Kim一下子就脱颖而出的原因绝不仅只是抢眼的彩虹渐变发色。这位从小在西雅图长大后回到韩国首尔的女孩，拥有阳光开朗的性格，所以无论是在美容教程、还是搞笑的时装秀幕后花絮中，她看起来总是积极乐观，而甜美的笑容也让她人气大涨。这些只要问问她在Instagram @IreneIsGood和YouTube上50多万粉丝就明白了。</p>
                <p class="content">Irene积极而坚毅的态度帮助她不断成长。作为不断壮大的全球美容界中一个极具影响力的成员，她向她的爱美追随者们发出了同样富有影响力的信息，她鼓励道： “如今，美在于如何定义它。社交媒体让使美变得更具个性，发现什么最适合你的特质。”如果你在秀场外不得不面对一大圈摄影师的围追堵截，或者要跟朋友自拍时，你不妨采纳Irene的建议——用一种玩趣的态度来对待。她承认：“我喜欢在秀场外与摄影师相遇，这给我带来许多乐趣。他们愿意来拍我，让我感到很荣幸也很开心。 我认为你越是能乐在其中，就能拍出越好的照片！”这条超棒的建议也同样适用于生活。</p>
                <img style="width: 400px;" src="/view/pc/imgs/ee159_image_01.jpg" alt="">
                <h2 class="h2fs">"Beauty is confidence and how you carry yourself."</h2>
                <p class="content">EL：你对美的定义是什么，又是从什么时候开始对美感兴趣的呢？</p>
                <p class="content">IK：美是由内而外的自信，是如何展现自己的方式。这在于找到你喜欢的事情，并且让它成为自己的一部分。我第一次开始意识到这一点，是在我决定用剪刀给自己剪刘海的时候，当时我只有四岁！当时我也常常玩祖母的唇膏抽屉，她的唇膏都是最漂亮的颜色。</p>
                <p class="content">EL：最早让你心动的美女？</p>
                <p class="content">IK：辣妹组合！</p>
                <p class="content">EL：那现在的最爱呢？</p>
                <p class="content">IK：我喜欢夏洛特·甘斯布，因为她一直都处于很放松的状态，你不会感觉到她在刻意用力做什么。如果是论妆画得好，那凯特·莫斯永远是我的最爱。无论是她标志性的猫眼妆，还是性感大红唇，她让一切都变得那么有品位。</p>
                <p class="content">EL：你能否聊聊日常的护肤流程？我们知道，好皮肤对你来说非常重要。</p>
                <p class="content">IK：的确，肌肤对我而言非常重要，因为我的皮肤一直非常敏感，所以我总在寻找舒缓的护理产品。我喜欢那些使用简单的护肤产品，太厚重的产品会让肌肤无法呼吸。我的护肤包括五个步骤：洁面、爽肤、精华、保湿和防晒。在早晨，我只用清水而不用洗面奶洁面。</p>
                <p class="content">EL：那彩妆呢？</p>
                <p class="content">IK：我喜欢玩彩妆，但我的日常妆容更倾向自然，健康的肤色、睫毛和一点唇彩。在特殊的场合，我喜欢猫眼妆搭配明亮唇色。</p>
                <p class="content">EL：你为世界各地的时装周而满世界飞，机上必备装备有哪些？</p>
                <p class="content">IK：一个面部喷雾、眼霜、润肤霜还有眼罩！</p>
                <p class="content">EL：现在，所有人都对韩国美容产品非常喜爱。哪些是你最喜欢的产品？</p>
                <p class="content">IK：我喜欢所有的唇彩、BB霜和片装面膜。因为产品的种类实在太多，我现在每周都会尝试一款新的产品！</p>
                <p class="content">EL：那韩国流行音乐呢？我们得知道谁是你最喜欢的明星？</p>
                <p class="content">IK：我目前最喜欢的是Sistar，是韩国目前最炙手可热的少女组合之一！她们的风格、化妆、舞蹈动作和音乐总是引领潮流。当然，我也有朋友从事流行音乐，包括f（X）的Amber， 还有Miss A组合和少女时代（SNSD）的成员。韩国嘻哈和R＆B也很火爆，现在涌现了一大批富有才华的音乐家。</p>
                <p class="content">EL：最后一个问题，如果你可以跟任何之前没有遇见过的人来张自拍照，你会选谁？为什么？</p>
                <p class="content">IK：卡尔·拉格菲尔德！他实在是太赞了。</p>
            </div>
        </div>
    </div>
	<!--内容-->

	<div class="footer">
		<div class="footer_content">
			<div class="footer_box">
				<h2>关于羽曦</h2>
				<ul>
					<li><a href="">品牌故事</a></li>
					<li><a href="">品牌故事</a></li>
				</ul>
			</div>
			<div class="footer_box">
				<h2>提供帮助</h2>
				<ul>
					<li><a href="">联系我们</a></li>
					<li><a href="">400-123-456(9：30-18：30)</a></li>
				</ul>
			</div>
			<div class="footer_box">
				<h2>客户服务</h2>
				<ul>
					<li><a href="">退换货问题</a></li>
					<li><a href="">查看我的订单</a></li>
					<li><a href="">常见问题</a></li>
					<li><a href="">配送信息</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="copyright">
			湘ICP备15006686号-1  版权所有：&copy;湖南宇源肽生物科技有限公司　　<a href="">法律声明</a>丨<a href="">隐私保护</a>丨<a href="">联系我们</a>丨<a href="">网站地图</a>
		</div>
	</div>
	<!--页面底部-->

	<div class="shade"></div>
	<!--遮罩-->
	<div class="loading">
		<div class="off_btn"><img src="imgs/load_off.png" alt=""></div>
		<div class="input_list signUp">
			<h2>加入会员</h2>
			<input class="nickname" type="text" placeholder="名">
			<input class="email" type="text" placeholder="电子邮箱">
			<input class="spassword" type="password" placeholder="密码">
			<input class="tel" type="text" placeholder="手机">
			<div class="ck_box">
				<label>
					<input class="ck" type="checkbox">我已阅读和了解羽曦及本网站的 <a href="">条款条件</a> 和 <a href="">隐私政策</a>，并且同意接受其中所有的条款。
				</label>
			</div>
			<div class="msg"></div>
			<center><button class="signUpBtn">提交注册</button></center>
			<div class="loading_btn">
				已经注册?<a class="change_logUp" href="javascript:void(0)">请登录</a>
			</div>
		</div>

		<div class="input_list logUp">
			<h2>会员登录</h2>
			<input class="username" type="text" placeholder="账户(邮箱/手机)">
			<input class="password" type="password" placeholder="密码">
			<div class="msg"></div>
			<center><button class="logUpBtn">会员登录</button></center>
			<div class="loading_btn">
				还没有账号?<a class="change_signUp" href="javascript:void(0)">现在注册</a>
			</div>
		</div>
	</div>
	<!--登录组件-->
</body>
</html>