<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>羽曦护肤官方</title>
	<link rel="stylesheet" href="/view/pc/css/style.css">
    <link rel="stylesheet" href="/view/pc/css/community.css">
	<script src="/view/pc/js/jquery-3.1.1.min.js"></script>
	<script src="/view/pc/js/app.js"></script>
</head>
<body>
	<div class="header_container">
		<div class="header">
			<div class="logo_box">
				<a href="index.html"><img src="/view/pc/imgs/logo.png" alt=""></a>
			</div>
			<div class="sidebar">
				<div class="useronload">登入</div>
				<div class="shopCar">购物车</div>
				<div class="search">搜索</div>
			</div>
			<div class="link_box">
				<ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a >雨曦故事</a></li>
                    <li class="pro"><a href="Product.html">产品中心</a></li>
                    <li><a href="community.html">雨曦社区</a></li>
                    <li><a href="members.html">会员积分</a></li>
                    <li><a href="">官方微博</a></li>
                    <li><a href="">联系我们</a></li>
                </ul>
			</div>
		</div>
		
		<div class="search_box">
			<div class="s_input_list">
				<from>
					<input type="text" name="search">
					<input type="button" value="搜索">
				</from>
			</div>
		</div>
		<!--搜索弹出-->

		<div class="product">
			<ul class="p_list">
				<li><a href="">产品1</a></li>
				<li><a href="">产品2</a></li>
				<li><a href="">产品3</a></li>
			</ul>
		</div>
		<!--产品弹出-->

		<div class="shopCar_cont">
			<div class="shopCar_box">
				<span class="bot"></span>
				<span class="top"></span>
				<!--<div class="shop_none">
					您的购物车里没有任何商品
				</div>-->
				<div class="shopBox">
					<div class="shop_item">
						<img src="/view/pc/imgs/shopitem.png" alt="">
						<div class="shop_msg">
							<p>雅诗兰黛肌初赋活原生液</p>
							<p>容量: 200ml </p>
							<p>数量:1</p>
							<p>价格:￥875</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="shop_item">
						<img src="/view/pc/imgs/shopitem.png" alt="">
						<div class="shop_msg">
							<p>雅诗兰黛肌初赋活原生液</p>
							<p>容量: 200ml </p>
							<p>数量:1</p>
							<p>价格:￥875</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="shop_item">
						<img src="/view/pc/imgs/shopitem.png" alt="">
						<div class="shop_msg">
							<p>雅诗兰黛肌初赋活原生液</p>
							<p>容量: 200ml </p>
							<p>数量:1</p>
							<p>价格:￥875</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="paythebill">
						<div class="bill">
							<div class="price">总额:￥1750</div>
						</div>
						<center><button style="background: #020322;color: #fff;">结账</button></center>
						<center><button style="background: #fff;">购物车</button></center>
					</div>
				</div>
			</div>
		</div>
		<!--购物车弹出-->

	</div>
	<!--头部-->

	<div class="container">
        <div class="news1">
			<video style="border:1px solid #ccc;" width="800" height="500" src="../mp4/1.mp4" controls="controls" preload poster="/view/pc/imgs/poster1.png">
				您的浏览器不支持Video标签
			</video>
            <div class="news-text">
                <p class="title"><span class="text-bold">生活潮流</span>: BENEATH THE SURFACE</p>
                <h2 class="inside-h2">维多利亚·贝克汉姆出门前的5分钟</h2>
                <p class="inside-main">时尚偶像贝嫂手把手传授标志性烟熏妆Look，</p>
				<p class="inside-main">同时揭秘即将上市的设计师高定系列，</p>
				<p class="inside-main">一起来先睹为快</p>
				<p class="content">是否发现自己总爱羡慕维多利亚·贝克汉姆标志性的完美烟熏妆？要知道，你绝对不是她的第一个粉丝。被维多利亚描述为“烟熏、深沉而又十分性感的眼妆”与浅色唇妆平衡，构成了来自她的家乡伦敦最时髦的妆容。你可能会担心要打造如此前卫的妆容，至少需要精心描绘好几个小时，事实却并非如此。在这个《Vogue服饰与美容》杂志精心制作的视频中，贝嫂手把手演示如何在化妆镜前创造奇迹——只需短短的5分钟（作为全球著名的时尚设计师，贝嫂也没有多少时间来对镜贴花黄），只需简单勾勒几笔，轻拍双颊，瞬间就能完成完美妆容。</p>
				<p class="content">这是维多利亚·贝克汉姆即将与雅诗兰黛联合推出的设计师高定系列，除了伦敦之外，还包括另外三款汲取无限时尚灵感的都市经典妆容：纽约、巴黎和洛杉矶。自称 “变色龙”的维多利亚，在一天中无论去什么场合，都能够毫不费力地搭配妆容。</p>
			</div>
        </div>
    </div>
	<!--内容-->

	<div class="footer">
		<div class="footer_content">
			<div class="footer_box">
				<h2>关于羽曦</h2>
				<ul>
					<li><a href="">品牌故事</a></li>
					<li><a href="">品牌故事</a></li>
				</ul>
			</div>
			<div class="footer_box">
				<h2>提供帮助</h2>
				<ul>
					<li><a href="">联系我们</a></li>
					<li><a href="">400-123-456(9：30-18：30)</a></li>
				</ul>
			</div>
			<div class="footer_box">
				<h2>客户服务</h2>
				<ul>
					<li><a href="">退换货问题</a></li>
					<li><a href="">查看我的订单</a></li>
					<li><a href="">常见问题</a></li>
					<li><a href="">配送信息</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="copyright">
			湘ICP备15006686号-1  版权所有：&copy;湖南宇源肽生物科技有限公司　　<a href="">法律声明</a>丨<a href="">隐私保护</a>丨<a href="">联系我们</a>丨<a href="">网站地图</a>
		</div>
	</div>
	<!--页面底部-->

	<div class="shade"></div>
	<!--遮罩-->
	<div class="loading">
		<div class="off_btn"><img src="imgs/load_off.png" alt=""></div>
		<div class="input_list signUp">
			<h2>加入会员</h2>
			<input class="nickname" type="text" placeholder="名">
			<input class="email" type="text" placeholder="电子邮箱">
			<input class="spassword" type="password" placeholder="密码">
			<input class="tel" type="text" placeholder="手机">
			<div class="ck_box">
				<label>
					<input class="ck" type="checkbox">我已阅读和了解羽曦及本网站的 <a href="">条款条件</a> 和 <a href="">隐私政策</a>，并且同意接受其中所有的条款。
				</label>
			</div>
			<div class="msg"></div>
			<center><button class="signUpBtn">提交注册</button></center>
			<div class="loading_btn">
				已经注册?<a class="change_logUp" href="javascript:void(0)">请登录</a>
			</div>
		</div>

		<div class="input_list logUp">
			<h2>会员登录</h2>
			<input class="username" type="text" placeholder="账户(邮箱/手机)">
			<input class="password" type="password" placeholder="密码">
			<div class="msg"></div>
			<center><button class="logUpBtn">会员登录</button></center>
			<div class="loading_btn">
				还没有账号?<a class="change_signUp" href="javascript:void(0)">现在注册</a>
			</div>
		</div>
	</div>
	<!--登录组件-->
</body>
</html>