<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>商品列表</title>
    <link rel="stylesheet" href="css/index.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <a href="index.html"><img src="imgs/logo.png" alt=""></a>
    </div>
    <div class="sidebar">
      <div class="sidebar-head">
        <center>
          <div class="admin">
            <p>欢迎你，管理员</p>
            <span class="radio">Online</span>
          </div>
        </center>
      </div>
      <div class="sidebar-list">
        <a href="order.html"><div class="item">订单列表</div></a>
        <a href="shop.html"><div class="item">商品列表</div></a>
        <a href="addshop.html"><div class="item">添加商品</div></a>
        <a href="user.html"><div class="item">用户管理</div></a>
        <a href="charts.html"><div class="item">数据统计</div></a>
      </div>
    </div>
    <div class="container-fluid">
      <div class="search">
        <div class="item-title">搜索</div>
        <div class="content">
          <form action="">
            <span>商品名称：</span>
            <input type="text" class="form-control">
            <span>状态：</span>
            <select class="form-control">
              <option>请选择...</option>
              <option>已上架</option>
              <option>已下架</option>
            </select>
            <button type="submit" class="btn btn-primary">搜索</button>
          </form>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="list">
        <div class="item-title">商品列表</div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>编号</th>
              <th>商品名称</th>
              <th>商品价格</th>
              <th>商品销量</th>
              <th>商品状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>面膜</td>
              <td>510</td>
              <td>400</td>
              <td>已上架</td>
              <td>
                  <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                        <a href="reshop.html"><button type="button" class="btn btn-info">修改</button></a>
                        <a href="#"><button style="margin: 0 5px;" type="button" class="btn btn-primary">上架</button></a>
                        <a href="#"><button type="button" class="btn btn-danger">下架</button></a>
                    </div>
                  </div>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>面膜</td>
              <td>510</td>
              <td>400</td>
              <td>已上架</td>
              <td>
                  <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                        <a href="reshop.html"><button type="button" class="btn btn-info">修改</button></a>
                        <a href="#"><button style="margin: 0 5px;" type="button" class="btn btn-primary">上架</button></a>
                        <a href="#"><button type="button" class="btn btn-danger">下架</button></a>
                    </div>
                  </div>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>面膜</td>
              <td>510</td>
              <td>400</td>
              <td>已上架</td>
              <td>
                  <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                        <a href="reshop.html"><button type="button" class="btn btn-info">修改</button></a>
                        <a href="#"><button style="margin: 0 5px;" type="button" class="btn btn-primary">上架</button></a>
                        <a href="#"><button type="button" class="btn btn-danger">下架</button></a>
                    </div>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>

        <ul class="pagination pagination-lg">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>