<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>产品2</title>
<link href="/view/pc/css/Product.css" type="text/css" rel="stylesheet">
<script src="/view/pc/jquery-3.1.1.min.js"></script>
<script src="/view/pc/app.js"></script>
<link rel="stylesheet" href="/view/pc/css/style.css">
</head>
<body>
<!-- header -->
	<div class="header_container">
		<div class="header">
			<div class="logo_box">
				<a href="/view/pc/index.html"><img src="/view/pc/imgs/logo.png" alt=""></a>
			</div>
			<div class="sidebar">
				<div class="useronload">登入</div>
				<div class="shopCar">购物车</div>
				<div class="search">搜索</div>
			</div>
			<div class="link_box">
				<ul>
                    <li><a href="/view/pc/index.html">首页</a></li>
					<li class="pro"><a href="/view/pc/javascript:void(0)">产品中心</a></li>
                    <li><a href="/view/pc/about.html">雨曦故事</a></li>
                    <li><a href="/view/pc/community.html">雨曦社区</a></li>
                    <li><a href="/view/pc/members.html">会员积分</a></li>
                    <li><a href="/view/pc/contact.html">联系我们</a></li>
                </ul>
			</div>
		</div>
		
		<div class="search_box">
			<div class="s_input_list">
				<from>
					<input type="text" name="search">
					<input type="button" value="搜索">
				</from>
			</div>
		</div>
		<!--搜索弹出-->

		<div class="product">
			<ul class="p_list">
				<li><a href="/view/pc/Product.html">产品1</a></li>
				<li><a href="/view/pc/Product_02.html">产品2</a></li>
				<li><a href="/view/pc/Product_03.html">产品3</a></li>
			</ul>
		</div>
		<!--产品弹出-->

        <div class="shopCar_cont">
			<div class="shopCar_box">
				<span class="bot"></span>
				<span class="top"></span>
				<!--<div class="shop_none">
					您的购物车里没有任何商品
				</div>-->
				<div class="shopBox">
					<div class="shop_item">
						<img src="/view/pc/imgs/01.jpg" alt="">
						<div class="shop_msg">
							<p>雅诗兰黛肌初赋活原生液</p>
							<p>容量: 200ml </p>
							<p>数量:1</p>
							<p>价格:￥875</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="shop_item">
						<img src="/view/pc/imgs/01.jpg" alt="">
						<div class="shop_msg">
							<p>雅诗兰黛肌初赋活原生液</p>
							<p>容量: 200ml </p>
							<p>数量:1</p>
							<p>价格:￥875</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="shop_item">
						<img src="/view/pc/imgs/01.jpg" alt="">
						<div class="shop_msg">
							<p>雅诗兰黛肌初赋活原生液</p>
							<p>容量: 200ml </p>
							<p>数量:1</p>
							<p>价格:￥875</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="paythebill">
						<div class="bill">
							<div class="price">总额:￥1750</div>
						</div>
						<center><button style="background: #020322;color: #fff;">结账</button></center>
						<center><a href="/view/pc/shop.html"><button style="background: #fff;">购物车</button></a></center>
					</div>
				</div>
			</div>
		</div>
		<!--购物车弹出-->

</div>

<div class="kong"></div>

<div class="headercar">
    <div class="conten">
        <div class="headercarimg">
            <img src="/view/pc/imgs/product-img/Productlogo.jpg" alt="">
        </div>
        <div class="baycar">
            <span class="span_01">¥ 570</span>
            <span class="span_02">加入购物车</span>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<!-- information -->
<div class="information">

    <div class="informationleft">
        <img src="/view/pc/imgs/product-img/product2_01.jpg" alt="">
    </div>

    <div class="informationrigth">
        <div class="rigthcont">
            <p class="rigthcont_p1">LEIFOR</p>
            <p class="rigthcont_p2">羽曦-源·肽  修复面膜</p>
            <p class="rigthcont_p3">皮肤专家发现：在护肤品中添加各种天然原料，对肌肤有一定的滋润作用。这个时候大规模的天然萃取分离工业已经成熟，此后，市场上护肤品成分中慢慢能够找到的天然成份！从陆地到海洋，从植物到动物，各种天然成份应有尽有。有些人甚至到人迹罕至的地方，试图寻找到特殊的原料，创造护肤的奇迹，包括热带雨林。当然此时的天然有很多是噱头，可能大部分底料还是沿用矿物油时代的成分，只</p>
            <span class="rigthcont_span1">净含量：80g</span>
            <br><br>
            <span class="rigthcont_span2">¥570</span>
            <div class="clearfix"></div>
            <div class="rigthcheck">
                <div class="select">
                    数量：
                    <select name=""> 
                        <option value="0">1</option> 
                        <option value="1">2</option> 
                        <option value="2">3</option> 
                        <option value="3">4</option> 
                        <option value="4">5</option> 
                    </select> 
                </div>
                <div class="car">加入购物车</div>
            </div>
        </div>
    </div>

</div>

<!-- details -->
<div class="details">
    <p class="details_p">羽曦-源·肽  修复面膜</p>
    <div class="clearfix"></div>
    <div class="detailsleft">
        <div class="detailsleftcont">
            <p class="title1">产品描述</p>
            <p>皮肤专家发现：在护肤品中添加各种天然原料，对肌肤有一定的滋润作用。这个时候大规模的天然萃取分离工业已经成熟，此后，市场上护肤品成分中慢慢能够找到的天然成份！从陆地到海洋，从植物到动物，各种天然成份应有尽有。有些人甚至到人迹罕至的地方，试图寻找到特殊的原料，创造护肤的奇迹，包括热带雨林。当然此时的天然有很多是噱头，可能大部分底料还是沿用矿物油时代的成分，只</p>
            <p class="title2">护肤功效</p>
            <p>皮肤专家发现：在护肤品中添加各种天然原料，对肌肤有一定的滋润作用。这个时候大规模的天然萃取分离工业已经成熟，此后，市场上护肤品成分中慢慢能够找到的是偶尔添加些天然成分，因为这……</p>
        </div>
    </div>
    <div class="detailsrigth">
        <div class="detailsrigthcont">
            <p class="title1">产品配方</p>
            <p>皮肤专家发现：在护肤品中添加各种天然原料，对肌肤有一定的滋润作用。这个时候大规模的天然萃取分离工业已经成熟，此后，市场上护肤品成分中慢慢能够找到的天然成份！从陆地到海洋，从植物到动物，各种天然成份应有尽有。有些人甚至到人迹罕至的地方，试图寻找到特殊的原料，创造护肤的奇迹，包括热带雨林。当然此时的天然有很多是噱头，可能大部分底料还是沿用矿物油时代的成分，只</p>
            <p style="margin-top: 2vh;">皮肤专家发现：在护肤品中添加各种天然原料，对肌肤有一定的滋润作用。这个时候大规模的天然萃取分离工业已经成熟，此后，市场上护肤品成分中慢慢能够找到的是偶尔添加些天然成分，因为这……</p>
            <p class="title2">使用建议</p>
            <p>皮肤专家发现：在护肤品中添加各种天然原料，对肌肤有一定的滋润作用。这个时候大规模的天然萃取分离工业已经成熟，此后，市场上护肤品成分中慢慢能够找到的是偶尔添加些天然成分，因为这……</p>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<!-- evaluation -->
<div class="evaluation">
    <div class="left">
        <img src="/view/pc/imgs/product-img/product2_02.jpg" alt="">
    </div>
</div>

<div class="clearfix"></div>

    <div class="footer">
        <div class="footer_content">
            <div class="footer_box">
                <h2>关于羽曦</h2>
                <ul>
                    <li><a href="/view/pc/">品牌故事</a></li>
                    <li><a href="/view/pc/">品牌故事</a></li>
                </ul>
            </div>
            <div class="footer_box">
                <h2>提供帮助</h2>
                <ul>
                    <li><a href="/view/pc/">联系我们</a></li>
                    <li><a href="/view/pc/">400-123-456(9：30-18：30)</a></li>
                </ul>
            </div>
            <div class="footer_box">
                <h2>客户服务</h2>
                <ul>
                    <li><a href="/view/pc/">退换货问题</a></li>
                    <li><a href="/view/pc/">查看我的订单</a></li>
                    <li><a href="/view/pc/">常见问题</a></li>
                    <li><a href="/view/pc/">配送信息</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="copyright">
            湘ICP备15006686号-1  版权所有：&copy;湖南宇源肽生物科技有限公司　　<a href="/view/pc/">法律声明</a>丨<a href="/view/pc/">隐私保护</a>丨<a href="/view/pc/">联系我们</a>丨<a href="/view/pc/">网站地图</a>
        </div>
    </div>
    <!--页面底部-->

    <div class="shade"></div>
    <!--遮罩-->
    <div class="loading">
        <div class="off_btn"><img src="/view/pc/imgs/load_off.png" alt=""></div>
        <div class="input_list signUp">
            <h2>加入会员</h2>
            <input type="text" placeholder="名">
            <input type="text" placeholder="电子邮箱">
            <input type="password" placeholder="密码">
            <input type="text" placeholder="手机">
            <div class="ck_box">
                <label>
                    <input type="checkbox">我已阅读和了解羽曦及本网站的 <a href="/view/pc/">条款条件</a> 和 <a href="/view/pc/">隐私政策</a>，并且同意接受其中所有的条款。
                </label>
            </div>
            <center><button>提交注册</button></center>
            <div class="loading_btn">
                已经注册?<a class="change_logUp" href="javascript:void(0)">请登录</a>
            </div>
        </div>

        <div class="input_list logUp">
            <h2>会员登录</h2>
            <input type="text" placeholder="账户(邮箱/手机)">
            <input type="password" placeholder="密码">
            <center><button>会员登录</button></center>
            <div class="loading_btn">
                还没有账号?<a class="change_signUp" href="javascript:void(0)">现在注册</a>
            </div>
        </div>
    </div>
    <!--登录组件-->

</body>
</html>