/*2016/6/10 11:53*/
@charset "utf-8";

body,h1,h2,h3,p,ul,ol,form,fieldset,figure,input{ margin: 0 auto;padding: 0 auto;}
body{ background:#efeff4;font-family:"MicrosoftYaHei";}
ul,ol{ list-style: outside none none;}
a{ text-decoration: none;color: #646363;}
figure,li,strong{ box-sizing: border-box;}
.none{ display: none;}
img{ display: block;max-width: 100%;}
.clearfix{ content: ".";display: block;clear: both;height: 0;visibility: hidden;}
.zw{display: block;height: 17vmin;}
.x_hide{ display: none;}
.fl{ float: left; }
.fr{ float: right; }

.top{position:relative;width:100%;height:10vmin;background-color:#000000;}
.top .headimg{position:absolute;top:1vmin;left:2vmin;height:8vmin;border-radius:50em;}
.top .petname{position:absolute;left:13vmin;line-height:10vmin;color:#EFEAEA;font-family:"微软雅黑";font-size:3.5vmin;}
.top .a_order{position:absolute;right:3vmin;line-height:10vmin;color:#EFEAEA;font-family:"微软雅黑";font-size:3.5vmin;}

.headeer .bg{
	width: 100%;
	height: 100%;
}
.user{
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -15vmin;
}
.yuan img{
	width: 30vmin;
	height: 30vmin;
	border-radius: 50%;
	border:1vmin solid #fff;
}

.user_name{
	font-size: 6vmin;
	width: 100%;
	display: inline-block;
	color: #fff;
	margin-top: 2vh;
	text-align: center;
}
/*.user_name img{
	display: inline-block;
	width: 4vmin;
	margin-left: 2vmin;
}*/
.content{
	background:#fff;
}
.content li{
	width: 33%;
	display: inline-block;
	font-size: 0;
	border-left: 1px solid #ccc;
}

.content a{
	height: 12vmin;
	line-height: 12vmin;
	color: #888;
	font-size: 4vmin;
	display: block;
	text-align: center;
}
.content a:hover{
	background: #eee;
}
.cont1,.cont2,.cont3,.cont4,.cont5,.cont6{
	margin-top: 2vmin;
	border-top: 0px solid #ccc;
	border-bottom: 0px solid #ccc;
}
.cont1 img,.cont2 img,.cont3 img{
	display: inline-block;
	width: 7vmin;
}
.cont4 .text img,.cont5 .text img,.cont6 .text img{
	display: inline-block;
	width:6vmin;
	}
.cont1{ background:#fff;}
.cont1 .text{
	display: inline-block;
	height: 13vmin;
	line-height: 13vmin;
	margin-left: 3vmin;
	font-size: 4vmin;
	text-indent: 2vmin;
}
.cont1 .text1{
	 float:right;	
	 font-size: 4vmin;
	 padding:4vmin 5vmin 0 0;
	}
.cont1 .text1 input{ 
     color:#646363;
     border: 0;
    }

.cont2{ background:#fff;}
.cont2 .text{
	display: inline-block;
	height: 13vmin;
	line-height: 13vmin;
	margin-left: 3vmin;
	font-size: 4vmin;
	text-indent: 2vmin;
}
.cont2 .text1{
	 float:right;	
	 font-size: 4vmin;
	 padding:4vmin 5vmin 0 0;
	}
.cont2 .text1 input{ 
     color:#646363;
     border: 0;
    }

.cont3{ background:#fff;}
.cont3 .text{
	display: inline-block;
	height: 13vmin;
	line-height: 13vmin;
	margin-left: 3vmin;
	font-size: 4vmin;
	text-indent: 2vmin;
}
.cont3 .text1{
	 float:right;	
	 font-size: 4vmin;
	 padding:4vmin 5vmin 0 0;
	}
.cont3 .text1 input{ 
     color:#646363;
     border: 0;
    }

.queren{
	margin: 10vmin auto 0 auto;
	width: 80%;
}
.queren button{
	width: 100%;
	background-color: #040a2b;
	color: #fff;
	border: 0;
	padding: 3vmin 0;
}

@media all and (orientation : landscape){
	.user{
		top: 30%;
	}
}
@media screen and (min-width: 568px) {
    .headeer{
		margin-top: 27vmin;
	}
}
@media screen and (min-width: 667px) {
    .headeer{
		margin-top: 25vmin;
	}
}
@media screen and (min-width: 736px) {
    .headeer{
		margin-top: 22vmin;
	}
}